.awdd {
  height: 100vh;
  background-color: #181c28;
  .ant-card-head-title {
    color: #fff;
  }
  .ant-progress-inner {
    border-radius: 0;
  }
  div {
    .ant-progress-text {
      display: none;
    }
  }

  .flex div .itemCount {
    margin: 0;
  }
}
.ant-drawer-body {
  box-shadow: 0 3px 8px 0 rgba(62, 100, 146, 0.16);
  background: #292d39;
  color: #fff;
}
.ant-drawer .ant-drawer-content {
  width: 350px;
}
