.avatar_icons {
  display: flex;
  font-size: 24px;
  align-self: center;
  div {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    .icons {
      color: #7882a2;
      align-items: center;
    }
    .iconsAvatars {
      color: #7882a2;
      margin: 0;
    }
    .name {
      background-color: #292d39;
      border: none;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      color: #7882a2;
      font-size: 28px;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background-color: #292d39;
      border: none;
    }
    .button {
      display: flex;
      grid-gap: 12px;
      cursor: pointer;
    }
    .ant-badge {
      span {
        svg {
          font-size: 24px;
        }
      }
    }
    .ant-avatar {
      width: 40px;
      height: 40px;
      line-height: 40px;
      .ant-avatar-icon {
        font-size: 24px;
      }
    }
  }
}
