.flex {
  box-shadow: 0 3px 8px 0 rgba(62, 100, 146, 0.16);
  background-color: #292d39;
  width: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1rem;
  align-items: center;
  border-radius: 4px;
  .ant-progress-text {
    color: #7882a2;
  }
  .ant-progress-circle-path {
    background-color: #2f374e;
  }
  .ant-progress-circle {
    width: 67px;
    height: 67px;
    font-size: 24px;
    .ant-progress-text {
      top: 30%;
      left: 52%;
    }
  }
  div {
    .itemCount {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      color: #3498db;
    }
    .itemTitle {
    }
  }
}
