.map {
  margin-left: 38px;
  border-radius: 4px;
  background-color: #292d39;
  border: 1px solid #292d39;
  width: 94%;
  height: 419px;
  .ant-table-cell {
    background: #292d39;
    color: #fff;
  }
  .ant-table {
    height: 367px;
    background: #292d39;
    .ant-table-content {
      height: 367px;
    }
    .ant-table-content {
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .ant-table-content::-webkit-scrollbar {
      display: none;
    }
  }

  .ant-table-tbody {
    .ant-table-cell {
      color: rgb(120, 130, 162);
    }
  }
}
